@import url('https://fonts.googleapis.com/css?family=Indie+Flower');
@import url('https://fonts.googleapis.com/earlyaccess/nanumpenscript.css');
@import url('http://fonts.googleapis.com/earlyaccess/nanumpenscript.css');




#mainPicPlant{
    height: 1000px;
    padding-top: 20px;
}
#stoneMain{
  width: 100%;
  height: 1000px;
  padding: 0px;
  padding-top: 150px;
}
#stoneMain{
  width: 100%;
  height: 1000px;
  padding-top: 150px;
}
#stoneMainTextTitle{
  float: left;
  background-color: #24959A;
  color: white;
  width: 50%;
  height: 13%;
  border-bottom: 7px solid black;
}
#stoneMainTextTitleStory{
  background-color: #24959A;
  color: white;
  width: 80%;
  height: 13%;
  border-bottom: 7px solid black;
}
#stoneMainTextTitleEng{
  float: left;
  display: inline-block;
  color: white;
  padding: 0px;
  margin: 0px;
  padding-top: 50px;
  font-size: 30px;
  font-family: Indie Flower;
}
#stoneMainTextTitleKor{
  float: left;
  display: inline-block;
  padding: 0px;
  padding-right: 30px;
  padding-top: 10px;
  margin: 0px;
  color: white;
  font-family: 'Nanum Pen Script';
  font-size: 60px;
}
#stoneMainText{
  float: left;
  background-color: #ABC7C8;
  width: 50%;
  height: 78%;
  color: white;
  font-size: 35px;
  font-family: 'Nanum Pen Script';
}
#stoneMainTextImg{
  background-color: skyblue;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 30%;
  height: 91%;
  padding: 0px;
  margin: 0px;
  margin-left: 10%;
  float: left;
  border-bottom: 7px solid black;
}
#stoneMainTextStoryLay{
  background-color: #ABC7C8;
  width: 80%;
  height: 78%;
  color: white;
  font-size: 35px;
  font-family: 'Nanum Pen Script';
}
#stoneMainTextStory{
  background-color: #ABC7C8;
  width: 95%;
  height: 90%;
  color: white;
  font-size: 35px;
  font-family: 'Nanum Pen Script';
  padding-top: 20px;
}
#mainPicStoneMain{
  height: 100%;
  width: 100%;
}
.test{
  width: 10.3%;
  height: 90%;
  float: left;
  margin-left: 2%;
}
#listBlank{
  height:300px;
  width: 5%;
}
#listRowTop{
  padding-left:150px;
  padding-top:150px;
}

#listRow{
  padding-left:150px;
  padding-top:70px;
}


#listRow{
  padding-left:150px;
  padding-top:70px;
}
#search{
  padding-top:9%;
  padding-bottom: 12%;
  height:80%;
  font-size: 30px;
}
#stoneSearchText{
  border-right: 5px dashed #ABC7C8;
  border-left: 5px dashed #ABC7C8;
  width: 60%;
  padding-left: 10%;
  padding-right: 10%;
  height: 950px;
  color: black;
  font-size: 35px;
  font-family: 'Nanum Pen Script';
  padding-top: 100px;
}
#stoneSearchText h1{
  color: black;
  font-size: 42px;
  display: inline-block;
  font-family: 'Nanum Pen Script';
}
#stoneSearchText h2{
  color: black;
  font-size: 32px;
  display: inline-block;
  font-family: Indie Flower;
}
input{
  
}

.colorSelectRow{
  height:50px;
  width: 90%;
}
.colorSelect{
  height:50px;
  width:10%;
}
.btn-custom {
  color: #fff !important;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.39);
}
#red{
  background-color: hsl(0, 100%, 36%) !important;
  background-image: linear-gradient(#ff3232, #b70000);
  border-color: #b70000 #b70000 hsl(0, 100%, 30%);
}
#orange{
  background-color: hsl(30, 100%, 36%) !important;
  background-image: linear-gradient(#ff9932, #b75b00);
  border-color: #b75b00 #b75b00 hsl(30, 100%, 30%);
}
#yellow{
  background-color: hsl(49, 100%, 36%) !important;
  background-image: linear-gradient(#ffd932, #b79500);
  border-color: #b79500 #b79500 hsl(49, 100%, 30%);
}
